<h1>Create a new Bookmark to the list "<%= @list.name %>"</h1>
<%= link_to "return to list", lists_path %>

<h1>New Bookmark</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :list %>
  <%= f.association :movie %>
  <%= f.submit "Submit Bookmark", class: "btn btn-primary" %>
<% end %>
